[user]
    name = Stephen Melrose
    email = me@stephenmelrose.co.uk
[alias]
    diffc = diff --cached --patience -w
    rh = !git reset @{u} --hard
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = simple
