[user]
    name = Stephen Melrose
    email = me@stephenmelrose.co.uk
    signingkey = C0BC1039CFDB99AB
[alias]
    diffc = diff --cached --patience -w
    rh = !git reset @{u} --hard
[color]
    ui = auto
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = simple
[commit]
    gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
