[user]
        name = Stephen Melrose
        email = me@stephenmelrose.co.uk
[alias]
        diffc = diff --cached -w
        pp = !git pull && git push
        rh = !git reset HEAD --hard
        rho = !git reset ORIG_HEAD --hard
        tktm = !git pull && git merge origin/tkt-$1 --no-ff --no-commit
        tktco = !git pull && git checkout tkt-$1
[color]
        ui = auto
[core]
        editor = vim
        excludesfile = ~/.gitignore
[push]
        default = current
